// color variables
$mainColor: #6096ba;
$subColor: #274c77;
$subColorGrey: #adb5bd;
$fontColor: #495057;
$fontColorWhite: #fff;
$fontColorRed: #bf4342;
$fontColorGreen: #8dbf42;
$hoverColor: #edede9;

// typography variables
$titleSize: 24px;
$largeSize: 20px;
$regularSize: 16px;
$smallSize: 12px;
